<% programs = Program.where(country_id: @country.id) %>
      <% if programs %>
      <ul class="dropdown-menu">
        <% programs.each do |program| %>
          <li><%= link_to program.name, programs_path %></li>
        <% end %>
      </ul>
      <% end %>