<% answer = Answer.find_by program: program, question: question, year: year %>

<%= form_for(answer, remote: true, format: :json) do |f| %>
  <div class="field">
    <div><%= f.cktext_area :answer, :ckeditor => { :toolbar => 'mini'} %></div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'btn' %>
    <%= link_to [program, year], class: 'btn',  :confirm => 'Cancel without saving?' do %>
      Cancel
    <% end %>
  </div>
<% end %>

