<ul class="nav navbar-nav">
  <% @countries.each do |country| %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= country.name %> <b class="caret"></b></a>
      <% programs = Program.where(country_id: country.id) %>
      <% if programs %>
        <ul class="dropdown-menu">
          <% programs.each do |program| %>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#"><%= program.name %></a>
              <%= render "years/index" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>